.container1{
    width: calc(100% / 2);
    /* border: 1px solid black; */
    background-color: white;
}

.container2{
    width: calc(100% / 2);
    background-color: #fff5e2;
}

.container-header{
    width: calc(100 / 2 + 50px);
    background-color: #fdbb40;
    position: relative;
}

header h1{
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bold
}

header img{
    width: 180px;
    position: absolute;
    top: -20px;
    right: -50px;
}

.name-burger{
    color: grey;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 500;
    border: 0px;
}

.img-item{
    width: 60px;
}

.item-ingredient{
    padding: 20px;
}

.discount-code input{
    background-color: #fff5e2;
    width: 70%;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}

.button{
    background-color: #fdbb40;
    padding: 10px 20px;
    margin: 20px 0;
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
}

.footer-fluid{
    background-color: #d33359;
}

.footer{
    padding: 20px;
    color: white;
    font-weight: bold;
}